body {
    background-color: #00b3b9;
}

h1 {
    color: beige;
    font: oblique bold 120% cursive; 
}

p {
    font:oblique bold 120% cursive;
    color: rgba(0, 0, 0, 0.966);
}

footer {
    font:oblique bold 120% xx-large;
    color: rgba(0, 0, 0, 0.836)
}

p1 {
    font:oblique bold 120% cursive;
    color: rgb(167, 55, 55);
}

   