:root {
            --primary-color: #ff9f43;
            --secondary-color: #6c5ce7;
            --text-color: #2d3436;
            --background-color: rgba(0, 0, 0, 0);
            --card-color: #ffffff;
            --accent-color: #fd79a8;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
          body{
            background-color: #2d3436;
          }
          
            