:root {
            --primary-color: #ff9f43;
            --secondary-color: #6c5ce7;
            --text-color: #ffffff;
            --background-color: rgba(0, 0, 0, 0);
            --card-color: #ffffff;
            --accent-color: #fd79a8;
        }
       
        * {
            margin: 15px;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
          body{
            background-color: #2d3436;
             width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            transition: all 0.3s ease;
          }
     
         img{
          float: right;
         }
          

         h3 {
            color: var(--text-color);
            margin: 15px 0;
            padding: 10px;
            border-bottom: 1px solid var(--secondary-color);
            text-align: justify;
        }

